*{
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #FBFAF5;
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.25em;
    margin-left: 25px;
    margin-top: 0;
    padding-top: 25px;
}

/* Modular window */

.hidden{
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

/* Grid Container */
.grid-container {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 25px 25px 0;
    padding-bottom: 25px;
    grid-gap: 25px 12px;
    justify-items: center;
}


.card {
    width: 350px;
    border: .75px solid teal;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 1em;
    transition: width .25s, box-shadow .25s, border .25s;
    cursor: pointer;
}
.card:hover {
    width: 355px;
    box-shadow: 5px 5px 10px rgb(128,128,128,.5);
    border: 1.25px solid teal;
}
p {
    margin: 5px 0;
    color: slategray;
    font-size: .85em;
}
h2{
    margin-bottom: 10px;
    font-size: 1.25em;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    margin-right: 20px;
  }

  .modal-content p {
    margin: 10px 0 10px;
  }
  

@media screen and (min-width: 1024px) {
    .grid-container {
        margin: 25px auto 0;
    }
}
